html {
    background-image: url("/images/lauren-edvalson-WiSizdeZHBI-unsplash.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    
}

form {
    margin: auto;
    width: 250px;
    border: 1px solid red;
    padding: 10px;
    display: inline-block;
}

input, button {
    width: 100%;
    margin-bottom: 25px;
    box-sizing: border-box;
}

h1{
    text-align: left;
}

